/* The Close Button */
.closeR,
.closeR2,
.closeMB,
.closeL,
.closeP,
.closeMD {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

/* The Modal (background) */
.modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  padding-top: 100px;
  /* Location of the box */
  left: 0;  
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: var(--secondary-color);
  /* Fallback color */
  background-color: black;

  /* Black w/ opacity */
}

/* Modal Content (image) */
.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
}


/* Add Animation */
.modal-content,
#caption,
#captionR {
  -webkit-animation-name: zoom;
  -webkit-animation-duration: 0.6s;
  animation-name: zoom;
  animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
  from {
    -webkit-transform: scale(0)
  }

  to {
    -webkit-transform: scale(1)
  }
}

@keyframes zoom {
  from {
    transform: scale(0)
  }

  to {
    transform: scale(1)
  }
}

/* Caption of Modal Image */
#caption,
#captionR {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #dddddd;
  padding: 10px 0;
  height: 150px;
}


.project_img {
  text-align: center;
}

.project_img img {
  cursor: pointer;
  vertical-align: baseline;
  transition: 0.3s;
  border-radius: 15px;
  width: 25%;
  border: solid 2px var(--main-color);
  width: 250px;
  height: 150px;
  object-fit: cover;
}

.project_img img:hover {
  opacity: 0.7;
}