.skillcontainergrid {
  display: flex;
  justify-content: space-around;
}
.language{
  padding-bottom: 15%;
}
.language p{
margin: 0%;
}

.skill {
  padding-right: 10%;
  list-style: circle;
}
.language-stars, .skill{
  color: var(--secondary-color);
}