.container,
.row {
  padding-left: 10%;
  padding-right: 10%;
}

.row {
  border-width: 0.1px;
  border-color: var(--main-color);
  border-style: dotted;
}

progress {
  accent-color: var(--main-color);
  margin-top: auto;
  margin-bottom: auto;
  width: auto;
}

.competence p {
  text-align: center;
  padding-right: 10px;
}

.competence div {
  display: grid;
  grid-template-columns: 45% 45% 45%;
  /* grid-template-columns: repeat(3,1fr); */
}

.skillcontainergrid {
  margin-right: 10%;
}

.element-skill {
  border: 1px solid var(--main-color);
  border-radius: 15px;
  margin: 10px;
}