:root {
  font-size: 15px;
  font-family: Roboto, sans-serif;

  /* **************DARK MODE******************** */
  --background-color: rgb(2, 2, 2);
  --main-color: rgb(255, 66, 8);
  --secondaryfont-color: rgb(255, 255, 255);
  --firstfont-color: rgb(255, 255, 255);


  /* *************WHITE MODE******************** */

  /* --background-color: rgb(255, 255, 255); */
  /* --main-color: rgb(255, 136, 0); */
  /* --main-color: rgb(255, 208, 0); */
  /* --main-color: rgb(0, 38, 255);  */
  /* --main-color: rgb(82, 8, 166); 

  --secondary-color: rgb(41, 41, 41);
  --firstfont-color: rgb(255, 255, 255); */

}

body {
  background-color: var(--background-color);
  color: var(--font-color);
  offset-anchor: 50%;
  padding: 0%;
  margin: 0%;
  scroll-behavior: smooth;
}

main section {
  margin-left: 15%;
  margin-right: 15%;
  margin-bottom: 20%;
  scroll-margin-top: 5em;
}

.contact {
  margin-top: 40%;
}

h2 {
  font-size: 30px;
}

h3 {
  font-size: 1.4rem;
}

h1,
h2,
h3 {
  color: var(--main-color);
  text-shadow: 2px 2px 4px black;
  font-family: Bebas Neue, sans-serif;
}

.sociallinks {
  margin-top: -50%;
}

.sociallinks i {
  font-size: 3rem;
  margin-left: 20px;
}

.sociallinks i:hover {
  color: var(--secondary-color);
}

.sociallinks,
#at {
  text-align: center;
}

.sociallinks a {
  color: var(--main-color);
}





footer {
  padding: 2% 0%;
  position: relative;
  bottom: 90%;
  height: 100px;
  width: 100%;
  height: fit-content;
  background: var(--main-color);

}

.socialsactuallinks {
  padding: 0% 0% 0% 20%;
  margin-left: auto;
  margin-right: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-top: -15px;
  color: var(--firstfont-color);
}

.socialsactuallinks a,
.socialactuallinks div {
  text-decoration: none;
  color: var(--firstfont-color);
}


.sociallinkproject {
  grid-column: 1;
}

.footercontact {
  grid-column: 2;
}

.sociallinkfooter {
  grid-column: 3;
}

.footercontact p,
.sociallinkfooter p,
.sociallinkproject p {
  font-size: 15px
}

.footercontact a,
.sociallinkfooter a,
.sociallinkproject a {
  font-size: 9px;
}

.footerlandmark {
  text-align: center;
  color: var(--firstfont-color);
  font-size: 8px;
  margin-top: 20px;
}